{% extends 'base.html' %}
{% block content %}

    <section class="hero-wrap js-fullheight" style="background-image: url('/PYapp/static/images/bg_3.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-3 bread">Our Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="home.html">Home</a></span> <span>Blog</span></p>
          </div>
        </div>
      </div>
    </section>

	  <section class="ftco-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_1.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">31</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Vinyasa</a></h3>
                <p> Breathe yoga with light energy poses, in a continuous flow.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_2.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">27</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Hatha yoga</a></h3>
                <p> Harness your balance, body and mind.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_3.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">25</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Community yoga</a></h3>
                <p> Bring you and your crew and share a well-guided , mat experience. </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_4.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">31</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Ashtanga Yoga</a></h3>
                <p>Join the flow ,find expansion within you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_5.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">27</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Power Yoga</a></h3>
                <p>Designed for all levels of to support you scale your practice up/down, depending on your desired intensity for the day</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('/PYapp/static/images/image_6.jpg');">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="d-flex align-items-center pt-2 mb-4">
              		<div class="one">
              			<span class="day">25</span>
              		</div>
              		<div class="two">
              			<span class="yr">2025</span>
              			<span class="mos">December</span>
              		</div>
              	</div>
                <h3 class="heading mt-2"><a href="#">Restorative Yoga</a></h3>
                <p>A union of the body and mind, you don't want to miss out, do you?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>



    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
        	<div class="col-lg-3 col-md-6 mb-5 mb-md-5 ftco-animate">
            <div class="ftco-footer-widget mb-4">
              <h1 class="logo">Yoga_Space</h1>
            </div>
          </div>
          <div class="col-lg col-md-6 mb-5 mb-md-5 ftco-animate">
            <div class="ftco-footer-widget mb-4">
              <h2 class="location"></h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </footer>

{% endblock %}